body {    
    margin: 0 !important;
    padding: 0 !important;
}

canvas{
    position: absolute;

    left: 50%;
    
    
}

#gamerunner{
    top: 80px;
margin-left: -180px;
border: none;
}

#gametile{
    top: 287px;
    margin-left: -153px;
}

#machine{
    position: absolute;

    left: 50%;
    margin-left: -180px;
    z-index: 10;

    top: 260px;
    pointer-events: none;

    width: 360px;
}

#cover{
    position: absolute;
    width: 306px;
    left: 50%;
    margin-left: -153px;
    z-index: 20;
    top: 287px;

}

#ui{
    width: 360px;
    height: 80px;
    position: absolute;
    background-color: cadetblue;
    left: 50%;
    margin-left: -180px;
    background-image: url("assets/uitop.png");
}


#botonJugar{
    float: right;
}

#ui p{
    margin: 0;
    padding: 0;
}

#bloqueo{
    width: 360px;
    height: 180px;
    background-color: #383838;
    opacity: 0.6;
    left: 50%;
    top: 80px;
    margin-left: -180px;
    position: absolute;
    z-index: 20;
}


@media (min-width: 768px) {

    canvas{
        position: absolute;
    
        left: 50%;
        margin-left: -300px;
        
    }
    
    #gamerunner{
        top: 91px;
    border: 2px solid black;
    margin-left: -205px;
    border: none;
    }
    
    #gametile{
        top: 327px;
        margin-left: -174px;
    }
    
    #machine{
        position: absolute;
    
        left: 50%;
        margin-left: -205px;
        z-index: 10;
    
        top: 296px;
        pointer-events: none;
    
        width: 410px;
    }
    
    #cover{
        position: absolute;
        width: 348px;
        left: 50%;
        margin-left: -174px;
        z-index: 20;
        top: 327px;

    }

    #ui{
        width: 410px;
        height: 91px;
        margin-left: -205px;
        background-image: url("assets/uitoplarge.png");
    }

    #bloqueo{
        width: 410px;
        height: 205px;
        top: 91px;
        margin-left: -205px;
        z-index: 20;
    }
    

}